.card {
  display: grid;
  grid-template-columns: 170px;
  grid-template-rows: 192px 1fr 1fr 1fr;
  width: 200px;
  height: 404px;
  padding: 14px;

  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__image {
    place-self: center;
    height: 134px;
    width: 160px;
    margin-bottom: 40px;
  }

  &__price {
    align-self: center;
  }
}
