.content {
  padding: 50px 40px;

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 48px;
    row-gap: 50px;
  }

  &__card {
    place-self: center;
  }
}
